#!/bin/bash
# shellcheck disable=SC1091

if [ -f "./secrets/monero.sh" ]; then
    source "./secrets/monero.sh"
fi

if [ -f ~/.githooks/coveralls.gpg ]; then
    COVERALLS_REPO_TOKEN="$(gpg -d -q "$HOME"/.githooks/coveralls.gpg)"
    export COVERALLS_REPO_TOKEN
fi
ANSIBLE_VAULT_PASSWORD_FILE=/etc/ansible/vault
DOCKER_REPO=edwardtheharris/monero-node
GHCR_REPO=ghcr.io/edwardtheharris/helm-monero-node/node
GNUPGHOME=$(pwd)/.gnupg
PIPENV_VENV_IN_PROJECT=1
VERSION=0.0.1

export ANSIBLE_VAULT_PASSWORD_FILE
export DOCKER_REPO
export GHCR_REPO
export GNUPGHOME
export PIPENV_VENV_IN_PROJECT
export VERSION
